button,
input[type="button"],
[role="button"] {
	& {
		display:inline-block;
		vertical-align:middle;
		padding:(@gutter / 2) @gutter;
		margin:0;
		text-align:center;
		white-space:nowrap;
		cursor:pointer;
		background-image:none;
		background-color:@white;
		color:@black;
		border:0;
		touch-action:manipulation;
		.user-select(none);
		.border-radius(@border-radius);
		.shadow-extra-small();
		.transition(@transition-button);
	}
	
	&.large {
		padding:(@gutter / 1.5) @gutter * 1.25;
		font-size:(@font-size * 1.5);
	}

	&.small {
		padding:(@gutter / 3.25) @gutter * 0.75;
		font-size:(@font-size * 0.75);
	}

	&:hover {
		.shadow-small();
	}

	&:active,
	& input[type="radio"]:checked + label,
	&:focus {
		outline:0;
		.shadow-extra-small-inset();
	}

	&.primary {
		background-color:@primary;
		color:@white;
	}

	&.primary:hover,
	&.primary:active,
	&.primary:focus {
		background-color:darken(@primary,7.5%);
	}

	&.info {
		background-color:@info;
		color:@white;
	}

	&.info:hover,
	&.info:active,
	&.info:focus {
		background-color:darken(@info,7.5%);
	}

	&.success {
		background-color:@success;
		color:@white;
	}

	&.success:hover,
	&.success:active,
	&.success:focus {
		background-color:darken(@success,7.5%);
	}

	&.warning {
		background-color:@warning;
		color:@black;
	}

	&.warning:hover,
	&.warning:active,
	&.warning:focus {
		background-color:darken(@warning,7.5%);
	}

	&.danger {
		background-color:@danger;
		color:@white;
	}

	&.danger:hover,
	&.danger:active,
	&.danger:focus {
		background-color:darken(@danger,7.5%);
	}

	&.link {
		background-color:transparent;
		color:@primary;
		.box-shadow(none);
	}

	&.link:hover,
	&.link:active,
	&.link:focus {
		text-decoration:underline;
		.box-shadow(none);
	}
}



[data-button-group] {
	& {
		display:inline-block;
		vertical-align:middle;
	}
	
	& > button,
	& > input[type="button"],
	& > [role="button"],
	& [data-dropdown] {
		float:left;
	}

	& > button:first-of-type:not(:last-of-type),
	& > button:first-child:not(:last-child),
	& > input[type="button"]:first-of-type:not(:last-of-type),
	& > input[type="button"]:first-child:not(:last-child),
	& > [role="button"]:first-of-type:not(:last-of-type),
	& > [role="button"]:first-child:not(:last-child),
	& &:first-of-type:not(:last-of-type) > [role="button"],
	& &:first-child:not(:last-child), > [role="button"],
	& &:first-of-type:not(:last-of-type) > button,
	& &:first-child:not(:last-child), > input[type="button"],
	& &:first-of-type:not(:last-of-type) > input[type="button"],
	& &:first-child:not(:last-child), > input[type="button"],
	& [data-dropdown]:first-of-type:not(:last-of-type) > button,
	& [data-dropdown]:first-child:not(:last-child) > button,
	& [data-dropdown]:first-of-type:not(:last-of-type) > input[type="button"],
	& [data-dropdown]:first-child:not(:last-child) > input[type="button"],
	& [data-dropdown]:first-of-type:not(:last-of-type) > [role="button"],
	& [data-dropdown]:first-child:not(:last-child)s > [role="button"] {
		.border-radius(@border-radius 0 0 @border-radius);
	}

	& > button:last-of-type:not(:first-of-type),
	& > button:last-child:not(:first-child),
	& > input[type="button"]:last-of-type:not(:first-of-type),
	& > input[type="button"]:last-child:not(:first-child),
	& > [role="button"]:last-of-type:not(:first-of-type),
	& > [role="button"]:last-child:not(:first-child),
	& &:last-of-type:not(:first-of-type) > [role="button"],
	& &:last-child:not(:first-child) > [role="button"],
	& &:last-of-type:not(:first-of-type) > button,
	& &:last-child:not(:first-child) > button,
	& &:last-of-type:not(:first-of-type) > input[type="button"],
	& &:last-child:not(:first-child) > input[type="button"],
	& [data-dropdown]:last-of-type:not(:first-of-type) > button,
	& [data-dropdown]:last-child:not(:first-child) > button,
	& [data-dropdown]:last-of-type:not(:first-of-type) > input[type="button"],
	& [data-dropdown]:last-child:not(:first-child) > input[type="button"],
	& [data-dropdown]:last-of-type:not(:first-of-type) > [role="button"],
	& [data-dropdown]:last-child:not(:first-child) > [role="button"] {
		.border-radius(0 @border-radius @border-radius 0);
	}

	& > button:not(:first-of-type):not(:last-of-type),
	& > button:not(:first-child):not(:last-child),
	& > input[type="button"]:not(:first-of-type):not(:last-of-type),
	& > input[type="button"]:not(:first-child):not(:last-child),
	& > [role="button"]:not(:first-of-type):not(:last-of-type),
	& > [role="button"]:not(:first-child):not(:last-child),
	& &:not(:first-of-type):not(:last-of-type) > [role="button"],
	& &:not(:first-child):not(:last-child) > [role="button"],
	& &:not(:first-of-type):not(:last-of-type) > button,
	& &:not(:first-child):not(:last-child) > button,
	& &:not(:first-of-type):not(:last-of-type) > input[type="button"],
	& &:not(:first-child):not(:last-child) > input[type="button"],
	& [data-dropdown]:not(:first-child):not(:last-child) > button,
	& [data-dropdown]:not(:first-child):not(:last-child) > input[type="button"],
	& [data-dropdown]:not(:first-child):not(:last-child) > [role="button"] {
		.border-radius(0);
	}
}



[data-button-group="justified"] {
	& {
		display:table;
		width:100%;
		border-collapse:separate;
	}
	
	& > button,
	& > input[type="button"],
	& > [role="button"],
	& > [data-button-group] {
		display:table-cell;
		float:none!important;
	}
	
	& > [data-button-group] {
		& button {
			width: 100%;
		}
		
		& [data-dropdown] {
			left: auto;
		}
	}
}

label[role="button"] {
	& {
		display:block;
		cursor:pointer;
	}

	& input[type="radio"],
	& input[type="checkbox"]{
		display:block;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		cursor:pointer;
		.opacity(0.01);
	}

	&.active {
		background-color:@primary;
		color:@white;
	}
}
