// elements
*,
*:before,
*:after,
*::before,
*::after {
	position:relative;
	.box-sizing(border-box);
}

html,
body {
	margin:0;
	padding:0;
}

html {
	background-color:@white;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
	min-height:100vh;
	color:@black;
	font-size:@font-size;
	font-family:@body-font-family;
	-webkit-font-smoothing:antialiased!important;
}

address:before,
address:after,
article:before,
article:after,
aside:before,
aside:after,
audio:before,
audio:after,
blockquote:before,
blockquote:after,
body:before,
body:after,
canvas:before,
canvas:after,
dd:before,
dd:after,
div:before,
div:after,
dl:before,
dl:after,
fieldset:before,
fieldset:after,
figcaption:before,
figcaption:after,
figure:before,
figure:after,
footer:before,
footer:after,
form:before,
form:after,
h1:before,
h1:after,
h2:before,
h2:after,
h3:before,
h3:after,
h4:before,
h4:after,
h5:before,
h5:after,
h6:before,
h6:after,
header:before,
header:after,
hgroup:before,
hgroup:after,
hr:before,
hr:after,
legend:before,
legend:after,
main:before,
main:after,
nav:before,
nav:after,
noscript:before,
noscript:after,
ol:before,
ol:after,
output:before,
output:after,
p:before,
p:after,
section:before,
section:after,
table:before,
table:after,
ul:before,
ul:after,
video:before,
video:after,
[data-container]:before,
[data-container]:after {
	.clear-float();
}

address:after,
article:after,
aside:after,
audio:after,
blockquote:after,
body:after,
canvas:after,
dd:after,
div:after,
dl:after,
fieldset:after,
figcaption:after,
figure:after,
footer:after,
form:after,
h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after,
header:after,
hgroup:after,
hr:after,
legend:after,
main:after,
nav:after,
noscript:after,
ol:after,
output:after,
section:after,
table:after,
ul:after,
video:after,
[data-container]:after {
	.clear-float-after();
}

fieldset {
	border:0;
	padding:0;
	margin:0;
}

figure {
	margin:0;
}

img {
	vertical-align:middle;
}

a {
	& {
		color:@primary;
		text-decoration:none;	
		.transition(@transition-color);
	}

	&[href] {
		cursor:pointer;
	}

	&:hover {
		color:darken(@primary,10%);
		text-decoration:underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
emphasis,
i {
	font-weight:normal;
	font-style:normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:@header-font-family;
	margin:@separating-margin;
}

strong,
b,
.bold {
  font-family:@bold-font-family;
}

em,
i,
.italic {
  font-family:@italic-font-family;
}

b i,
i b,
strong i,
i strong,
b em,
em b,
strong em,
em strong,
.bold.italic {
  font-family:@bold-italic-font-family;
}

p {
	margin:@separating-margin;
}

blockquote {
	& {
		width:100%;
		margin:0;
		padding:(@gutter * 2);
		border-left:10px solid @light-grey;
	}

	& small {
		display:block;
	}

	&[data-right] {
		text-align:right;
		border-right:10px solid @light-grey;
		border-left:0;
	}

	&.info {
		border-color:@info;
	}

	&.primary {
		border-color:@primary;
	}

	&.success {
		border-color:@success;
	}

	&.warning {
		border-color:@warning;
	}

	&.danger {
		border-color:@danger;
	}
}

pre {
	display:block;
	height:100%;
	background-color:@light-grey;
	color:@black;
	padding:@gutter;
	margin:0;
}

hr {
	margin:@gutter 0;
	border:0;
	border-top:1px solid @primary;
}

// layout
[data-grid],
[data-container],
[data-flow] {
	margin-top:@separating-margin-top;
	margin-bottom:@separating-margin-bottom;
	min-width:100%;
}

[data-container] {
	padding-left:@gutter;
	padding-right:@gutter;
}

[data-grid] {
	margin-left:(@gutter * -1);
	margin-right:(@gutter * -1);
}

[data-sr-only] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0;
}

.pull {
	&-left {
		float:left!important;
	}

	&-left ul {
		left:0!important;
		right:auto!important;
	}

	&-right {
		float:right!important;
	}

	&-right ul {
		left:auto!important;
		right:0!important;
	}
}

[data-icon-only]::after {
	margin:4px 0 3px!important;
}

[data-jumbotron] {
	background-color:@light-grey;
	padding:(@gutter * 2);
	margin:@separating-margin-center;
	font-size:(@font-size * 1.5);
	.border-radius(@border-radius);
}

[data-remove],
[data-close] {
	& {
		position:absolute;
		top:(@gutter / 2);
		right:(@gutter / 2);
		text-align:center;
		cursor:pointer;
	}

	&::before {
		content:'\f00d';
		font-family:@icon-font-family;
		color:@dark-grey;
		.transition(@transition-color);
	}

	&:hover::before {
		color:@black;
	}
}

[data-breadcrumb] {
	& {
		list-style:none;
		margin:0;
		padding:(@gutter / 2);
		.shadow-extra-small();
	}

	& li {
		float:left;
	}

	& li a {
		display:block;
		padding:(@gutter / 2);
	}

	& li:not(:first-of-type) a::before {
		content:'\f054';
		font-family:@icon-font-family;
		color:@black;
		display:inline-block;
		vertical-align:baseline;
		margin-right:(@gutter / 2);
	}

	& .active a {
		color:@black;
		cursor:default;
	}

	& .active a:hover {
		text-decoration:none;
	}
}

// universal classes
.small {
	font-size:0.75em;
}

.large {
	font-size:1.2em;
}

.muted {
	color:@grey;
}

.primary {
	color:@primary;
}

.info {
	color:@info;
}

.success {
	color:@success;
}

.warning {
	color:darken(@warning,30%);
}

.danger {
	color:@danger;
}

// media queries
@media (max-width: 47.938em) {
	h1 {
		font-size:(@font-size * 2.75);
	}
	
	h2 {
		font-size:(@font-size * 2.2);
	}
	
	h3 {
		font-size:(@font-size * 1.787);
	}
	
	h4 {
		font-size:(@font-size * 1.374);
	}
	
	h5 {
		font-size:(@font-size * 1.1);
	}
	
	h6 {
		font-size:@font-size;
	}
	
	[data-container="fixed"] {
		width:95%;
	}
}

@media (min-width: 48em) {
	h1 {
		font-size:(@font-size * 2.75);
	}
	
	h2 {
		font-size:(@font-size * 2.2);
	}
	
	h3 {
		font-size:(@font-size * 1.787);
	}
	
	h4 {
		font-size:(@font-size * 1.374);
	}
	
	h5 {
		font-size:(@font-size * 1.1);
	}
	
	h6 {
		font-size:@font-size;
	}
	
	[data-container="fixed"] {
		width:730px;
	}
}

@media (min-width: 62.5em) {
	h1 {
		font-size:(@font-size * 3.25);
	}
	
	h2 {
		font-size:(@font-size * 2.64);
	}
	
	h3 {
		font-size:(@font-size * 2.03);
	}
	
	h4 {
		font-size:(@font-size * 1.625);
	}
	
	h5 {
		font-size:(@font-size * 1.18);
	}
	
	h6 {
		font-size:@font-size;
	}
	
	[data-container="fixed"] {
		width:970px;
	}
}

@media (min-width: 75em) {
	h1 {
		font-size:(@font-size * 4);
	}
	
	h2 {
		font-size:(@font-size * 3.25);
	}
	
	h3 {
		font-size:(@font-size * 2.5);
	}
	
	h4 {
		font-size:(@font-size * 2);
	}
	
	h5 {
		font-size:(@font-size * 1.45);
	}
	
	h6 {
		font-size:(@font-size * 1.125);
	}
	
	[data-container="fixed"] {
		width:1170px;
	}
}
