[data-form] {
  & input[type="text"],
  & input[type="password"],
  & input[type="email"],
  & input[type="url"],
  & input[type="date"],
  & input[type="month"],
  & input[type="time"],
  & input[type="datetime"],
  & input[type="datetime-local"],
  & input[type="week"],
  & input[type="number"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="color"],
  & select,
  & textarea {
    & {
      padding: round(@gutter-tb / 2) round(@gutter-lr / 2);
      display: inline-block;
      vertical-align: middle;
      border: 1px solid @light-gray;
      border-radius: @default-border-radius;
      background-color: @white;
      height: @form-control-height;
      .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24));
      .transition(box-shadow 100ms ease-in-out);
    }

    &:focus {
      outline: 0;
      .box-shadow(inset 0 1px 3px fade(@color-info, 24%), inset 0 1px 2px fade(@color-info, 48%), inset 0 -2px 0 @color-info);
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: @light-gray;
      color: @dark-gray;
    }
  }

  & select {
    padding: round(@gutter-tb / 4) round(@gutter-lr / 2);
  }

  & textarea {
    height: auto;
  }

  & input:not([type]) {
    & {
      padding: round(@gutter-tb / 2) round(@gutter-lr / 2);
      display: inline-block;
      border: 1px solid @light-gray;
      border-radius: @default-border-radius;
      .box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24));
    }

    &:focus {
      outline: 0;
      .box-shadow(inset 0 1px 3px fade(@color-info, 24%), inset 0 1px 2px fade(@color-info, 48%), inset 0 -2px 0 @color-info);
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: @light-gray;
      color: @dark-gray;
    }
  }

  & input[type="file"]:focus,
  & input[type="radio"]:focus,
  & input[type="checkbox"]:focus {
    & {
      outline: thin solid @color-info;
      outline: 1px auto @color-info;
    }

    &:invalid:focus,
    &.invalid {
      outline-color: @color-danger;
    }
  }

  & .checkbox,
  & .radio {
    cursor: pointer;
  }

  & input,
  & select,
  & textarea {
    &[readonly] {
      background-color: @lighter-gray;
      color: fade(@font-color, 40%);
    }

    &:focus:invalid,
    &.invalid {
      outline: 0;
      .box-shadow(inset 0 1px 3px fade(@color-danger, 24%), inset 0 1px 2px fade(@color-danger, 48%), inset 0 -2px 0 @color-danger);
    }
  }

  & label {
    & {
      display: inline-block;
      vertical-align: middle;
    }

    &.checkbox input[type="checkbox"],
    &.radio input[type="radio"] {
      display:inline-block;
      vertical-align:middle;
      margin-left:round(@gutter-lr / 2);
    }
  }

  & fieldset {
    margin: 0;
    border: 0;
    padding: 0;
  }

  & legend {
    display: block;
    width: 100%;
    color: @gray;
    font-size: round(@font-size-default * 1.2);
  }

  & [data-control-group] {
    margin-top:@gutter-tb;
  }

  & [data-input-group] {
    & {
      display:table;
      width:100%;
    }

    & > * {
      display:table-cell;
      vertical-align:middle;
      border-collapse:separate;
    }

    & input,
    & select,
    & textarea,
    & .addon-label,
    & .addon-button,
    & .main-button {
      width:100%;
      z-index:0;
    }

    & .addon-label,
    & .addon-button {
      width:1%;
      white-space:nowrap;
      z-index:5;
    }

    & .main-button button {
      width:100%;
      z-index:5;
    }

    & .addon-label {
      padding-left:@button-gutter-lr;
      padding-right:@button-gutter-lr;
      border:1px solid @light-gray;
      border-radius:@default-border-radius;
      background-color:@lighter-gray;
      .box-shadow(inset 0 1px 3px rgba(0,0,0,0.12),inset 0 1px 2px rgba(0,0,0,0.24));
    }

    & .addon-button button,
    & .main-button button {
      display:block;
      height:@form-control-height;
      padding-top:(@button-gutter-tb - 2px);
      padding-bottom:(@button-gutter-tb - 2px);
    }

    & input:not(:first-child),
    & select:not(:first-child),
    & textarea:not(:first-child),
    & .addon-label:not(:first-child),
    & .addon-button:not(:first-child) button,
    & .main-button:not(:first-child) button, {
      border-top-left-radius:0;
      border-bottom-left-radius:0;
      border-left-width:0;
    }

    & input:not(:last-child),
    & select:not(:last-child),
    & textarea:not(:last-child),
    & .addon-label:not(:last-child),
    & .addon-button:not(:last-child) button,
    & .main-button:not(:last-child) button,  {
      border-top-right-radius:0;
      border-bottom-right-radius:0;
      border-right-width:0;
    }

    & input:first-child:last-child,
    & select:first-child:last-child,
    & textarea:first-child:last-child {
      border-radius:@default-border-radius;
    }
  }
}

[data-form="stacked"] {
  & input[type="text"],
  & input[type="password"],
  & input[type="email"],
  & input[type="url"],
  & input[type="date"],
  & input[type="month"],
  & input[type="time"],
  & input[type="datetime"],
  & input[type="datetime-local"],
  & input[type="week"],
  & input[type="number"],
  & input[type="search"],
  & input[type="tel"],
  & input[type="color"],
  & select,
  & textarea {
    display:block;
    width:100%;
    margin:0;
  }

  & input:not([type]) {
    display:block;
    margin:0 @gutter-lr @gutter-tb;
  }

  & label {
    display:block;
    margin:@gutter-tb 0 round(@gutter-tb / 2);
  }
}

[data-form="aligned"] {
  & input,
  & textarea,
  & select {
    display:inline-block;
    vertical-align:top;
    width:70%;
  }

  & [data-control-group] {
    font-size:0;
  }

  & [data-control-group] * {
    font-size:@font-size-default;
  }

  & [data-control-group] label {
    & {
      display:inline-block;
      vertical-align:top;
      min-height:@form-control-height;
      line-height:(@form-control-height - 2px);
      width:30%;
      margin:0;
      text-align:right;
      padding-right:@gutter-lr;
    }

    &.checkbox,
    &.radio {
      padding-right:0;
      white-space:nowrap;
    }
  }
}
