[data-tabs] {
  & {
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid @light-gray;
    font-size: 0;
  }

  &.inline {
    display:inline-block;
    vertical-align:top;
  }

  & li {
    font-size: @font-size-default;
  }

  & li > a {
    display:block;
    padding:@gutter-tb @gutter-lr (@gutter-tb - 2);
    text-decoration:none;
    color:inherit;
    border-right:2px solid transparent;
  }

  & li > a:active,
  & li > a:focus,
  & li > a:hover, {
    border-right-color:@light-gray;
    color:inherit;
    text-decoration:none;
  }

  & li.active > a {
    border-right-color:@color-primary;
    cursor:default;
  }

  & li.disabled > a {
    border-right-color:transparent;
    color:@light-gray;
    cursor:not-allowed;
  }
}

[data-tabs*="horizontal"] {
  & {
    border-right:0;
    border-bottom:1px solid @light-gray;
  }

  & li {
    display:inline-block;
    vertical-align:bottom;
  }

  & li > a {
    padding:@gutter-tb (@gutter-lr - 2) @gutter-tb @gutter-lr;
    border-bottom:2px solid transparent;
    border-right:0;
  }

  & li > a:active,
  & li > a:focus,
  & li > a:hover {
    border-bottom-color:@light-gray;
  }

  & li.active > a {
    border-bottom-color:@color-primary;
  }

  & li.disabled > a {
    border-bottom-color:transparent;
  }

  &.justified {
    display:table;
    width:100%;
  }

  &.justified li {
    display:table-cell;
    text-align:center;
  }
}

[data-tab-pane] {
  margin-top:1.5em;
}
