[data-well] {
	& {
		display:block;
		padding:@gutter;
		background:lighten(@light-grey,7.5%);
		margin:@separating-margin-center;
	}

	&.small {
		padding:(@gutter / 2);
		font-size:@font-size;
	}

	&.large {
		padding:(@gutter * 2);
		font-size:@font-size;
	}
}
