/*
 *
 * Copyright 2014 Tony Quetano under the terms of the MIT
 * license found at https://github.com/planttheidea/bolster/MIT_License.txt
 *
 * Tact CSS - a CSS framework with a tiny footprint
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
*/
.no-select {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}
.clear-float:before {
  display: table;
  content: ' ';
}
.clear-float:after {
  display: table;
  content: ' ';
  clear: both;
}
.shadow-extra-small {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-small {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-medium {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-large {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-extra-large {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.tact-form-inputs {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-shadow: inset 0 1px 3px #dbdcdd;
  -moz-box-shadow: inset 0 1px 3px #dbdcdd;
  box-shadow: inset 0 1px 3px #dbdcdd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em 0.6em;
  border: 1px solid #b7bbbd;
}
.tact-form-inputs-disabled {
  cursor: not-allowed;
  background-color: #dbdcdd;
  color: #b7bbbd;
}
.tact-form-stacked {
  display: block;
  margin: 0.25em 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none !important;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.57142857;
  color: #515558;
  background-color: #ffffff;
}
*,
*:before,
*::before,
*:after,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  position: relative;
}
a {
  color: #1164b4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0d4a85;
  text-decoration: underline;
}
hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #b7bbbd;
}
.tact-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.grid {
  display: block;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: normal;
}
.grid:before {
  display: table;
  content: ' ';
}
.grid:after {
  display: table;
  content: ' ';
  clear: both;
}
.flex {
  font-family: sans-serif;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
.flex .opera-only :-o-prefocus,
.flex {
  word-spacing: -0.43em;
}
.flex[class*="tact-p"],
.flex[class*="tact-f"] {
  font-family: sans-serif;
}
[class*="col-p-"],
[class*="col-f-"],
[class*="col-r-"] {
  display: block;
  float: left;
}
.col-p-1 {
  width: 1%;
}
.col-p-2 {
  width: 2%;
}
.col-p-3 {
  width: 3%;
}
.col-p-4 {
  width: 4%;
}
.col-p-5 {
  width: 5%;
}
.col-p-6 {
  width: 6%;
}
.col-p-7 {
  width: 7%;
}
.col-p-8 {
  width: 8%;
}
.col-p-9 {
  width: 9%;
}
.col-p-10 {
  width: 10%;
}
.col-p-11 {
  width: 11%;
}
.col-p-12 {
  width: 12%;
}
.col-p-13 {
  width: 13%;
}
.col-p-14 {
  width: 14%;
}
.col-p-15 {
  width: 15%;
}
.col-p-16 {
  width: 16%;
}
.col-p-17 {
  width: 17%;
}
.col-p-18 {
  width: 18%;
}
.col-p-19 {
  width: 19%;
}
.col-p-20 {
  width: 20%;
}
.col-p-21 {
  width: 21%;
}
.col-p-22 {
  width: 22%;
}
.col-p-23 {
  width: 23%;
}
.col-p-24 {
  width: 24%;
}
.col-p-25 {
  width: 25%;
}
.col-p-26 {
  width: 26%;
}
.col-p-27 {
  width: 27%;
}
.col-p-28 {
  width: 28%;
}
.col-p-29 {
  width: 29%;
}
.col-p-30 {
  width: 30%;
}
.col-p-31 {
  width: 31%;
}
.col-p-32 {
  width: 32%;
}
.col-p-33 {
  width: 33%;
}
.col-p-34 {
  width: 34%;
}
.col-p-35 {
  width: 35%;
}
.col-p-36 {
  width: 36%;
}
.col-p-37 {
  width: 37%;
}
.col-p-38 {
  width: 38%;
}
.col-p-39 {
  width: 39%;
}
.col-p-40 {
  width: 40%;
}
.col-p-41 {
  width: 41%;
}
.col-p-42 {
  width: 42%;
}
.col-p-43 {
  width: 43%;
}
.col-p-44 {
  width: 44%;
}
.col-p-45 {
  width: 45%;
}
.col-p-46 {
  width: 46%;
}
.col-p-47 {
  width: 47%;
}
.col-p-48 {
  width: 48%;
}
.col-p-49 {
  width: 49%;
}
.col-p-50 {
  width: 50%;
}
.col-p-51 {
  width: 51%;
}
.col-p-52 {
  width: 52%;
}
.col-p-53 {
  width: 53%;
}
.col-p-54 {
  width: 54%;
}
.col-p-55 {
  width: 55%;
}
.col-p-56 {
  width: 56%;
}
.col-p-57 {
  width: 57%;
}
.col-p-58 {
  width: 58%;
}
.col-p-59 {
  width: 59%;
}
.col-p-60 {
  width: 60%;
}
.col-p-61 {
  width: 61%;
}
.col-p-62 {
  width: 62%;
}
.col-p-63 {
  width: 63%;
}
.col-p-64 {
  width: 64%;
}
.col-p-65 {
  width: 65%;
}
.col-p-66 {
  width: 66%;
}
.col-p-67 {
  width: 67%;
}
.col-p-68 {
  width: 68%;
}
.col-p-69 {
  width: 69%;
}
.col-p-70 {
  width: 70%;
}
.col-p-71 {
  width: 71%;
}
.col-p-72 {
  width: 72%;
}
.col-p-73 {
  width: 73%;
}
.col-p-74 {
  width: 74%;
}
.col-p-75 {
  width: 75%;
}
.col-p-76 {
  width: 76%;
}
.col-p-77 {
  width: 77%;
}
.col-p-78 {
  width: 78%;
}
.col-p-79 {
  width: 79%;
}
.col-p-80 {
  width: 80%;
}
.col-p-81 {
  width: 81%;
}
.col-p-82 {
  width: 82%;
}
.col-p-83 {
  width: 83%;
}
.col-p-84 {
  width: 84%;
}
.col-p-85 {
  width: 85%;
}
.col-p-86 {
  width: 86%;
}
.col-p-87 {
  width: 87%;
}
.col-p-88 {
  width: 88%;
}
.col-p-89 {
  width: 89%;
}
.col-p-90 {
  width: 90%;
}
.col-p-91 {
  width: 91%;
}
.col-p-92 {
  width: 92%;
}
.col-p-93 {
  width: 93%;
}
.col-p-94 {
  width: 94%;
}
.col-p-95 {
  width: 95%;
}
.col-p-96 {
  width: 96%;
}
.col-p-97 {
  width: 97%;
}
.col-p-98 {
  width: 98%;
}
.col-p-99 {
  width: 99%;
}
.col-p-100 {
  width: 100%;
}
.col-f-23-24 {
  width: 95.83333333%;
}
.col-f-21-24 {
  width: 87.5%;
}
.col-f-19-24 {
  width: 79.16666667%;
}
.col-f-17-24 {
  width: 70.83333333%;
}
.col-f-15-24 {
  width: 62.5%;
}
.col-f-13-24 {
  width: 54.16666667%;
}
.col-f-11-24 {
  width: 45.83333333%;
}
.col-f-9-24 {
  width: 37.5%;
}
.col-f-7-24 {
  width: 29.16666667%;
}
.col-f-5-24 {
  width: 20.83333333%;
}
.col-f-11-12 {
  width: 91.66666667%;
}
.col-f-7-12 {
  width: 58.33333333%;
}
.col-f-5-12 {
  width: 41.66666667%;
}
.col-f-7-8 {
  width: 87.5%;
}
.col-f-5-8 {
  width: 62.5%;
}
.col-f-3-8 {
  width: 37.5%;
}
.col-f-5-6 {
  width: 83.33333333%;
}
.col-f-4-5 {
  width: 80%;
}
.col-f-3-5 {
  width: 60%;
}
.col-f-2-5 {
  width: 40%;
}
.col-f-1-5 {
  width: 20%;
}
.col-f-3-4 {
  width: 75%;
}
.col-f-2-3 {
  width: 66.66666667%;
}
.col-f-1-24 {
  width: 4.16666667%;
}
.col-f-1-12 {
  width: 8.33333333%;
}
.col-f-1-6 {
  width: 16.66666667%;
}
.col-f-1-3 {
  width: 33.33333333%;
}
.col-f-1-8 {
  width: 12.5%;
}
.col-f-1-4 {
  width: 25%;
}
.col-f-1-2 {
  width: 50%;
}
.col-f-0-1 {
  width: 0;
}
.col-f-1-1 {
  width: 100%;
}
.col-r-8 {
  width: 61.80339887%;
}
.col-r-5 {
  width: 38.19660111%;
}
.col-r-3 {
  width: 23.60679774%;
}
.col-r-2 {
  width: 14.58980337%;
}
.col-r-1 {
  width: 9.01699437%;
}
.col-r-13 {
  width: 100%;
}
.col-r-0 {
  width: 0;
}
@media screen and (min-width: 0.063em) {
  [class*="col-xs-p-"],
  [class*="col-xs-f-"],
  [class*="col-xs-r-"] {
    display: block;
    float: left;
  }
  .col-xs-p-1 {
    width: 1%;
  }
  .col-xs-p-2 {
    width: 2%;
  }
  .col-xs-p-3 {
    width: 3%;
  }
  .col-xs-p-4 {
    width: 4%;
  }
  .col-xs-p-5 {
    width: 5%;
  }
  .col-xs-p-6 {
    width: 6%;
  }
  .col-xs-p-7 {
    width: 7%;
  }
  .col-xs-p-8 {
    width: 8%;
  }
  .col-xs-p-9 {
    width: 9%;
  }
  .col-xs-p-10 {
    width: 10%;
  }
  .col-xs-p-11 {
    width: 11%;
  }
  .col-xs-p-12 {
    width: 12%;
  }
  .col-xs-p-13 {
    width: 13%;
  }
  .col-xs-p-14 {
    width: 14%;
  }
  .col-xs-p-15 {
    width: 15%;
  }
  .col-xs-p-16 {
    width: 16%;
  }
  .col-xs-p-17 {
    width: 17%;
  }
  .col-xs-p-18 {
    width: 18%;
  }
  .col-xs-p-19 {
    width: 19%;
  }
  .col-xs-p-20 {
    width: 20%;
  }
  .col-xs-p-21 {
    width: 21%;
  }
  .col-xs-p-22 {
    width: 22%;
  }
  .col-xs-p-23 {
    width: 23%;
  }
  .col-xs-p-24 {
    width: 24%;
  }
  .col-xs-p-25 {
    width: 25%;
  }
  .col-xs-p-26 {
    width: 26%;
  }
  .col-xs-p-27 {
    width: 27%;
  }
  .col-xs-p-28 {
    width: 28%;
  }
  .col-xs-p-29 {
    width: 29%;
  }
  .col-xs-p-30 {
    width: 30%;
  }
  .col-xs-p-31 {
    width: 31%;
  }
  .col-xs-p-32 {
    width: 32%;
  }
  .col-xs-p-33 {
    width: 33%;
  }
  .col-xs-p-34 {
    width: 34%;
  }
  .col-xs-p-35 {
    width: 35%;
  }
  .col-xs-p-36 {
    width: 36%;
  }
  .col-xs-p-37 {
    width: 37%;
  }
  .col-xs-p-38 {
    width: 38%;
  }
  .col-xs-p-39 {
    width: 39%;
  }
  .col-xs-p-40 {
    width: 40%;
  }
  .col-xs-p-41 {
    width: 41%;
  }
  .col-xs-p-42 {
    width: 42%;
  }
  .col-xs-p-43 {
    width: 43%;
  }
  .col-xs-p-44 {
    width: 44%;
  }
  .col-xs-p-45 {
    width: 45%;
  }
  .col-xs-p-46 {
    width: 46%;
  }
  .col-xs-p-47 {
    width: 47%;
  }
  .col-xs-p-48 {
    width: 48%;
  }
  .col-xs-p-49 {
    width: 49%;
  }
  .col-xs-p-50 {
    width: 50%;
  }
  .col-xs-p-51 {
    width: 51%;
  }
  .col-xs-p-52 {
    width: 52%;
  }
  .col-xs-p-53 {
    width: 53%;
  }
  .col-xs-p-54 {
    width: 54%;
  }
  .col-xs-p-55 {
    width: 55%;
  }
  .col-xs-p-56 {
    width: 56%;
  }
  .col-xs-p-57 {
    width: 57%;
  }
  .col-xs-p-58 {
    width: 58%;
  }
  .col-xs-p-59 {
    width: 59%;
  }
  .col-xs-p-60 {
    width: 60%;
  }
  .col-xs-p-61 {
    width: 61%;
  }
  .col-xs-p-62 {
    width: 62%;
  }
  .col-xs-p-63 {
    width: 63%;
  }
  .col-xs-p-64 {
    width: 64%;
  }
  .col-xs-p-65 {
    width: 65%;
  }
  .col-xs-p-66 {
    width: 66%;
  }
  .col-xs-p-67 {
    width: 67%;
  }
  .col-xs-p-68 {
    width: 68%;
  }
  .col-xs-p-69 {
    width: 69%;
  }
  .col-xs-p-70 {
    width: 70%;
  }
  .col-xs-p-71 {
    width: 71%;
  }
  .col-xs-p-72 {
    width: 72%;
  }
  .col-xs-p-73 {
    width: 73%;
  }
  .col-xs-p-74 {
    width: 74%;
  }
  .col-xs-p-75 {
    width: 75%;
  }
  .col-xs-p-76 {
    width: 76%;
  }
  .col-xs-p-77 {
    width: 77%;
  }
  .col-xs-p-78 {
    width: 78%;
  }
  .col-xs-p-79 {
    width: 79%;
  }
  .col-xs-p-80 {
    width: 80%;
  }
  .col-xs-p-81 {
    width: 81%;
  }
  .col-xs-p-82 {
    width: 82%;
  }
  .col-xs-p-83 {
    width: 83%;
  }
  .col-xs-p-84 {
    width: 84%;
  }
  .col-xs-p-85 {
    width: 85%;
  }
  .col-xs-p-86 {
    width: 86%;
  }
  .col-xs-p-87 {
    width: 87%;
  }
  .col-xs-p-88 {
    width: 88%;
  }
  .col-xs-p-89 {
    width: 89%;
  }
  .col-xs-p-90 {
    width: 90%;
  }
  .col-xs-p-91 {
    width: 91%;
  }
  .col-xs-p-92 {
    width: 92%;
  }
  .col-xs-p-93 {
    width: 93%;
  }
  .col-xs-p-94 {
    width: 94%;
  }
  .col-xs-p-95 {
    width: 95%;
  }
  .col-xs-p-96 {
    width: 96%;
  }
  .col-xs-p-97 {
    width: 97%;
  }
  .col-xs-p-98 {
    width: 98%;
  }
  .col-xs-p-99 {
    width: 99%;
  }
  .col-xs-p-100 {
    width: 100%;
  }
  .col-xs-f-23-24 {
    width: 95.83333333%;
  }
  .col-xs-f-21-24 {
    width: 87.5%;
  }
  .col-xs-f-19-24 {
    width: 79.16666667%;
  }
  .col-xs-f-17-24 {
    width: 70.83333333%;
  }
  .col-xs-f-15-24 {
    width: 62.5%;
  }
  .col-xs-f-13-24 {
    width: 54.16666667%;
  }
  .col-xs-f-11-24 {
    width: 45.83333333%;
  }
  .col-xs-f-9-24 {
    width: 37.5%;
  }
  .col-xs-f-7-24 {
    width: 29.16666667%;
  }
  .col-xs-f-5-24 {
    width: 20.83333333%;
  }
  .col-xs-f-11-12 {
    width: 91.66666667%;
  }
  .col-xs-f-7-12 {
    width: 58.33333333%;
  }
  .col-xs-f-5-12 {
    width: 41.66666667%;
  }
  .col-xs-f-7-8 {
    width: 87.5%;
  }
  .col-xs-f-5-8 {
    width: 62.5%;
  }
  .col-xs-f-3-8 {
    width: 37.5%;
  }
  .col-xs-f-5-6 {
    width: 83.33333333%;
  }
  .col-xs-f-4-5 {
    width: 80%;
  }
  .col-xs-f-3-5 {
    width: 60%;
  }
  .col-xs-f-2-5 {
    width: 40%;
  }
  .col-xs-f-1-5 {
    width: 20%;
  }
  .col-xs-f-3-4 {
    width: 75%;
  }
  .col-xs-f-2-3 {
    width: 66.66666667%;
  }
  .col-xs-f-1-24 {
    width: 4.16666667%;
  }
  .col-xs-f-1-12 {
    width: 8.33333333%;
  }
  .col-xs-f-1-6 {
    width: 16.66666667%;
  }
  .col-xs-f-1-3 {
    width: 33.33333333%;
  }
  .col-xs-f-1-8 {
    width: 12.5%;
  }
  .col-xs-f-1-4 {
    width: 25%;
  }
  .col-xs-f-1-2 {
    width: 50%;
  }
  .col-xs-f-0-1 {
    width: 0;
  }
  .col-xs-f-1-1 {
    width: 100%;
  }
  .col-xs-r-8 {
    width: 61.80339887%;
  }
  .col-xs-r-5 {
    width: 38.19660111%;
  }
  .col-xs-r-3 {
    width: 23.60679774%;
  }
  .col-xs-r-2 {
    width: 14.58980337%;
  }
  .col-xs-r-1 {
    width: 9.01699437%;
  }
  .col-xs-r-13 {
    width: 100%;
  }
  .col-xs-r-0 {
    width: 0;
  }
}
@media screen and (min-width: 35.5em) {
  [class*="col-s-p-"],
  [class*="col-s-f-"],
  [class*="col-s-r-"] {
    display: block;
    float: left;
  }
  .col-s-p-1 {
    width: 1%;
  }
  .col-s-p-2 {
    width: 2%;
  }
  .col-s-p-3 {
    width: 3%;
  }
  .col-s-p-4 {
    width: 4%;
  }
  .col-s-p-5 {
    width: 5%;
  }
  .col-s-p-6 {
    width: 6%;
  }
  .col-s-p-7 {
    width: 7%;
  }
  .col-s-p-8 {
    width: 8%;
  }
  .col-s-p-9 {
    width: 9%;
  }
  .col-s-p-10 {
    width: 10%;
  }
  .col-s-p-11 {
    width: 11%;
  }
  .col-s-p-12 {
    width: 12%;
  }
  .col-s-p-13 {
    width: 13%;
  }
  .col-s-p-14 {
    width: 14%;
  }
  .col-s-p-15 {
    width: 15%;
  }
  .col-s-p-16 {
    width: 16%;
  }
  .col-s-p-17 {
    width: 17%;
  }
  .col-s-p-18 {
    width: 18%;
  }
  .col-s-p-19 {
    width: 19%;
  }
  .col-s-p-20 {
    width: 20%;
  }
  .col-s-p-21 {
    width: 21%;
  }
  .col-s-p-22 {
    width: 22%;
  }
  .col-s-p-23 {
    width: 23%;
  }
  .col-s-p-24 {
    width: 24%;
  }
  .col-s-p-25 {
    width: 25%;
  }
  .col-s-p-26 {
    width: 26%;
  }
  .col-s-p-27 {
    width: 27%;
  }
  .col-s-p-28 {
    width: 28%;
  }
  .col-s-p-29 {
    width: 29%;
  }
  .col-s-p-30 {
    width: 30%;
  }
  .col-s-p-31 {
    width: 31%;
  }
  .col-s-p-32 {
    width: 32%;
  }
  .col-s-p-33 {
    width: 33%;
  }
  .col-s-p-34 {
    width: 34%;
  }
  .col-s-p-35 {
    width: 35%;
  }
  .col-s-p-36 {
    width: 36%;
  }
  .col-s-p-37 {
    width: 37%;
  }
  .col-s-p-38 {
    width: 38%;
  }
  .col-s-p-39 {
    width: 39%;
  }
  .col-s-p-40 {
    width: 40%;
  }
  .col-s-p-41 {
    width: 41%;
  }
  .col-s-p-42 {
    width: 42%;
  }
  .col-s-p-43 {
    width: 43%;
  }
  .col-s-p-44 {
    width: 44%;
  }
  .col-s-p-45 {
    width: 45%;
  }
  .col-s-p-46 {
    width: 46%;
  }
  .col-s-p-47 {
    width: 47%;
  }
  .col-s-p-48 {
    width: 48%;
  }
  .col-s-p-49 {
    width: 49%;
  }
  .col-s-p-50 {
    width: 50%;
  }
  .col-s-p-51 {
    width: 51%;
  }
  .col-s-p-52 {
    width: 52%;
  }
  .col-s-p-53 {
    width: 53%;
  }
  .col-s-p-54 {
    width: 54%;
  }
  .col-s-p-55 {
    width: 55%;
  }
  .col-s-p-56 {
    width: 56%;
  }
  .col-s-p-57 {
    width: 57%;
  }
  .col-s-p-58 {
    width: 58%;
  }
  .col-s-p-59 {
    width: 59%;
  }
  .col-s-p-60 {
    width: 60%;
  }
  .col-s-p-61 {
    width: 61%;
  }
  .col-s-p-62 {
    width: 62%;
  }
  .col-s-p-63 {
    width: 63%;
  }
  .col-s-p-64 {
    width: 64%;
  }
  .col-s-p-65 {
    width: 65%;
  }
  .col-s-p-66 {
    width: 66%;
  }
  .col-s-p-67 {
    width: 67%;
  }
  .col-s-p-68 {
    width: 68%;
  }
  .col-s-p-69 {
    width: 69%;
  }
  .col-s-p-70 {
    width: 70%;
  }
  .col-s-p-71 {
    width: 71%;
  }
  .col-s-p-72 {
    width: 72%;
  }
  .col-s-p-73 {
    width: 73%;
  }
  .col-s-p-74 {
    width: 74%;
  }
  .col-s-p-75 {
    width: 75%;
  }
  .col-s-p-76 {
    width: 76%;
  }
  .col-s-p-77 {
    width: 77%;
  }
  .col-s-p-78 {
    width: 78%;
  }
  .col-s-p-79 {
    width: 79%;
  }
  .col-s-p-80 {
    width: 80%;
  }
  .col-s-p-81 {
    width: 81%;
  }
  .col-s-p-82 {
    width: 82%;
  }
  .col-s-p-83 {
    width: 83%;
  }
  .col-s-p-84 {
    width: 84%;
  }
  .col-s-p-85 {
    width: 85%;
  }
  .col-s-p-86 {
    width: 86%;
  }
  .col-s-p-87 {
    width: 87%;
  }
  .col-s-p-88 {
    width: 88%;
  }
  .col-s-p-89 {
    width: 89%;
  }
  .col-s-p-90 {
    width: 90%;
  }
  .col-s-p-91 {
    width: 91%;
  }
  .col-s-p-92 {
    width: 92%;
  }
  .col-s-p-93 {
    width: 93%;
  }
  .col-s-p-94 {
    width: 94%;
  }
  .col-s-p-95 {
    width: 95%;
  }
  .col-s-p-96 {
    width: 96%;
  }
  .col-s-p-97 {
    width: 97%;
  }
  .col-s-p-98 {
    width: 98%;
  }
  .col-s-p-99 {
    width: 99%;
  }
  .col-s-p-100 {
    width: 100%;
  }
  .col-s-f-23-24 {
    width: 95.83333333%;
  }
  .col-s-f-21-24 {
    width: 87.5%;
  }
  .col-s-f-19-24 {
    width: 79.16666667%;
  }
  .col-s-f-17-24 {
    width: 70.83333333%;
  }
  .col-s-f-15-24 {
    width: 62.5%;
  }
  .col-s-f-13-24 {
    width: 54.16666667%;
  }
  .col-s-f-11-24 {
    width: 45.83333333%;
  }
  .col-s-f-9-24 {
    width: 37.5%;
  }
  .col-s-f-7-24 {
    width: 29.16666667%;
  }
  .col-s-f-5-24 {
    width: 20.83333333%;
  }
  .col-s-f-11-12 {
    width: 91.66666667%;
  }
  .col-s-f-7-12 {
    width: 58.33333333%;
  }
  .col-s-f-5-12 {
    width: 41.66666667%;
  }
  .col-s-f-7-8 {
    width: 87.5%;
  }
  .col-s-f-5-8 {
    width: 62.5%;
  }
  .col-s-f-3-8 {
    width: 37.5%;
  }
  .col-s-f-5-6 {
    width: 83.33333333%;
  }
  .col-s-f-4-5 {
    width: 80%;
  }
  .col-s-f-3-5 {
    width: 60%;
  }
  .col-s-f-2-5 {
    width: 40%;
  }
  .col-s-f-1-5 {
    width: 20%;
  }
  .col-s-f-3-4 {
    width: 75%;
  }
  .col-s-f-2-3 {
    width: 66.66666667%;
  }
  .col-s-f-1-24 {
    width: 4.16666667%;
  }
  .col-s-f-1-12 {
    width: 8.33333333%;
  }
  .col-s-f-1-6 {
    width: 16.66666667%;
  }
  .col-s-f-1-3 {
    width: 33.33333333%;
  }
  .col-s-f-1-8 {
    width: 12.5%;
  }
  .col-s-f-1-4 {
    width: 25%;
  }
  .col-s-f-1-2 {
    width: 50%;
  }
  .col-s-f-0-1 {
    width: 0;
  }
  .col-s-f-1-1 {
    width: 100%;
  }
  .col-s-r-8 {
    width: 61.80339887%;
  }
  .col-s-r-5 {
    width: 38.19660111%;
  }
  .col-s-r-3 {
    width: 23.60679774%;
  }
  .col-s-r-2 {
    width: 14.58980337%;
  }
  .col-s-r-1 {
    width: 9.01699437%;
  }
  .col-s-r-13 {
    width: 100%;
  }
  .col-s-r-0 {
    width: 0;
  }
}
@media screen and (min-width: 48em) {
  [class*="col-m-p-"],
  [class*="col-m-f-"],
  [class*="col-m-r-"] {
    display: block;
    float: left;
  }
  .col-m-p-1 {
    width: 1%;
  }
  .col-m-p-2 {
    width: 2%;
  }
  .col-m-p-3 {
    width: 3%;
  }
  .col-m-p-4 {
    width: 4%;
  }
  .col-m-p-5 {
    width: 5%;
  }
  .col-m-p-6 {
    width: 6%;
  }
  .col-m-p-7 {
    width: 7%;
  }
  .col-m-p-8 {
    width: 8%;
  }
  .col-m-p-9 {
    width: 9%;
  }
  .col-m-p-10 {
    width: 10%;
  }
  .col-m-p-11 {
    width: 11%;
  }
  .col-m-p-12 {
    width: 12%;
  }
  .col-m-p-13 {
    width: 13%;
  }
  .col-m-p-14 {
    width: 14%;
  }
  .col-m-p-15 {
    width: 15%;
  }
  .col-m-p-16 {
    width: 16%;
  }
  .col-m-p-17 {
    width: 17%;
  }
  .col-m-p-18 {
    width: 18%;
  }
  .col-m-p-19 {
    width: 19%;
  }
  .col-m-p-20 {
    width: 20%;
  }
  .col-m-p-21 {
    width: 21%;
  }
  .col-m-p-22 {
    width: 22%;
  }
  .col-m-p-23 {
    width: 23%;
  }
  .col-m-p-24 {
    width: 24%;
  }
  .col-m-p-25 {
    width: 25%;
  }
  .col-m-p-26 {
    width: 26%;
  }
  .col-m-p-27 {
    width: 27%;
  }
  .col-m-p-28 {
    width: 28%;
  }
  .col-m-p-29 {
    width: 29%;
  }
  .col-m-p-30 {
    width: 30%;
  }
  .col-m-p-31 {
    width: 31%;
  }
  .col-m-p-32 {
    width: 32%;
  }
  .col-m-p-33 {
    width: 33%;
  }
  .col-m-p-34 {
    width: 34%;
  }
  .col-m-p-35 {
    width: 35%;
  }
  .col-m-p-36 {
    width: 36%;
  }
  .col-m-p-37 {
    width: 37%;
  }
  .col-m-p-38 {
    width: 38%;
  }
  .col-m-p-39 {
    width: 39%;
  }
  .col-m-p-40 {
    width: 40%;
  }
  .col-m-p-41 {
    width: 41%;
  }
  .col-m-p-42 {
    width: 42%;
  }
  .col-m-p-43 {
    width: 43%;
  }
  .col-m-p-44 {
    width: 44%;
  }
  .col-m-p-45 {
    width: 45%;
  }
  .col-m-p-46 {
    width: 46%;
  }
  .col-m-p-47 {
    width: 47%;
  }
  .col-m-p-48 {
    width: 48%;
  }
  .col-m-p-49 {
    width: 49%;
  }
  .col-m-p-50 {
    width: 50%;
  }
  .col-m-p-51 {
    width: 51%;
  }
  .col-m-p-52 {
    width: 52%;
  }
  .col-m-p-53 {
    width: 53%;
  }
  .col-m-p-54 {
    width: 54%;
  }
  .col-m-p-55 {
    width: 55%;
  }
  .col-m-p-56 {
    width: 56%;
  }
  .col-m-p-57 {
    width: 57%;
  }
  .col-m-p-58 {
    width: 58%;
  }
  .col-m-p-59 {
    width: 59%;
  }
  .col-m-p-60 {
    width: 60%;
  }
  .col-m-p-61 {
    width: 61%;
  }
  .col-m-p-62 {
    width: 62%;
  }
  .col-m-p-63 {
    width: 63%;
  }
  .col-m-p-64 {
    width: 64%;
  }
  .col-m-p-65 {
    width: 65%;
  }
  .col-m-p-66 {
    width: 66%;
  }
  .col-m-p-67 {
    width: 67%;
  }
  .col-m-p-68 {
    width: 68%;
  }
  .col-m-p-69 {
    width: 69%;
  }
  .col-m-p-70 {
    width: 70%;
  }
  .col-m-p-71 {
    width: 71%;
  }
  .col-m-p-72 {
    width: 72%;
  }
  .col-m-p-73 {
    width: 73%;
  }
  .col-m-p-74 {
    width: 74%;
  }
  .col-m-p-75 {
    width: 75%;
  }
  .col-m-p-76 {
    width: 76%;
  }
  .col-m-p-77 {
    width: 77%;
  }
  .col-m-p-78 {
    width: 78%;
  }
  .col-m-p-79 {
    width: 79%;
  }
  .col-m-p-80 {
    width: 80%;
  }
  .col-m-p-81 {
    width: 81%;
  }
  .col-m-p-82 {
    width: 82%;
  }
  .col-m-p-83 {
    width: 83%;
  }
  .col-m-p-84 {
    width: 84%;
  }
  .col-m-p-85 {
    width: 85%;
  }
  .col-m-p-86 {
    width: 86%;
  }
  .col-m-p-87 {
    width: 87%;
  }
  .col-m-p-88 {
    width: 88%;
  }
  .col-m-p-89 {
    width: 89%;
  }
  .col-m-p-90 {
    width: 90%;
  }
  .col-m-p-91 {
    width: 91%;
  }
  .col-m-p-92 {
    width: 92%;
  }
  .col-m-p-93 {
    width: 93%;
  }
  .col-m-p-94 {
    width: 94%;
  }
  .col-m-p-95 {
    width: 95%;
  }
  .col-m-p-96 {
    width: 96%;
  }
  .col-m-p-97 {
    width: 97%;
  }
  .col-m-p-98 {
    width: 98%;
  }
  .col-m-p-99 {
    width: 99%;
  }
  .col-m-p-100 {
    width: 100%;
  }
  .col-m-f-23-24 {
    width: 95.83333333%;
  }
  .col-m-f-21-24 {
    width: 87.5%;
  }
  .col-m-f-19-24 {
    width: 79.16666667%;
  }
  .col-m-f-17-24 {
    width: 70.83333333%;
  }
  .col-m-f-15-24 {
    width: 62.5%;
  }
  .col-m-f-13-24 {
    width: 54.16666667%;
  }
  .col-m-f-11-24 {
    width: 45.83333333%;
  }
  .col-m-f-9-24 {
    width: 37.5%;
  }
  .col-m-f-7-24 {
    width: 29.16666667%;
  }
  .col-m-f-5-24 {
    width: 20.83333333%;
  }
  .col-m-f-11-12 {
    width: 91.66666667%;
  }
  .col-m-f-7-12 {
    width: 58.33333333%;
  }
  .col-m-f-5-12 {
    width: 41.66666667%;
  }
  .col-m-f-7-8 {
    width: 87.5%;
  }
  .col-m-f-5-8 {
    width: 62.5%;
  }
  .col-m-f-3-8 {
    width: 37.5%;
  }
  .col-m-f-5-6 {
    width: 83.33333333%;
  }
  .col-m-f-4-5 {
    width: 80%;
  }
  .col-m-f-3-5 {
    width: 60%;
  }
  .col-m-f-2-5 {
    width: 40%;
  }
  .col-m-f-1-5 {
    width: 20%;
  }
  .col-m-f-3-4 {
    width: 75%;
  }
  .col-m-f-2-3 {
    width: 66.66666667%;
  }
  .col-m-f-1-24 {
    width: 4.16666667%;
  }
  .col-m-f-1-12 {
    width: 8.33333333%;
  }
  .col-m-f-1-6 {
    width: 16.66666667%;
  }
  .col-m-f-1-3 {
    width: 33.33333333%;
  }
  .col-m-f-1-8 {
    width: 12.5%;
  }
  .col-m-f-1-4 {
    width: 25%;
  }
  .col-m-f-1-2 {
    width: 50%;
  }
  .col-m-f-0-1 {
    width: 0;
  }
  .col-m-f-1-1 {
    width: 100%;
  }
  .col-m-r-8 {
    width: 61.80339887%;
  }
  .col-m-r-5 {
    width: 38.19660111%;
  }
  .col-m-r-3 {
    width: 23.60679774%;
  }
  .col-m-r-2 {
    width: 14.58980337%;
  }
  .col-m-r-1 {
    width: 9.01699437%;
  }
  .col-m-r-13 {
    width: 100%;
  }
  .col-m-r-0 {
    width: 0;
  }
}
@media screen and (min-width: 64em) {
  [class*="col-l-p-"],
  [class*="col-l-f-"],
  [class*="col-l-r-"] {
    display: block;
    float: left;
  }
  .col-l-p-1 {
    width: 1%;
  }
  .col-l-p-2 {
    width: 2%;
  }
  .col-l-p-3 {
    width: 3%;
  }
  .col-l-p-4 {
    width: 4%;
  }
  .col-l-p-5 {
    width: 5%;
  }
  .col-l-p-6 {
    width: 6%;
  }
  .col-l-p-7 {
    width: 7%;
  }
  .col-l-p-8 {
    width: 8%;
  }
  .col-l-p-9 {
    width: 9%;
  }
  .col-l-p-10 {
    width: 10%;
  }
  .col-l-p-11 {
    width: 11%;
  }
  .col-l-p-12 {
    width: 12%;
  }
  .col-l-p-13 {
    width: 13%;
  }
  .col-l-p-14 {
    width: 14%;
  }
  .col-l-p-15 {
    width: 15%;
  }
  .col-l-p-16 {
    width: 16%;
  }
  .col-l-p-17 {
    width: 17%;
  }
  .col-l-p-18 {
    width: 18%;
  }
  .col-l-p-19 {
    width: 19%;
  }
  .col-l-p-20 {
    width: 20%;
  }
  .col-l-p-21 {
    width: 21%;
  }
  .col-l-p-22 {
    width: 22%;
  }
  .col-l-p-23 {
    width: 23%;
  }
  .col-l-p-24 {
    width: 24%;
  }
  .col-l-p-25 {
    width: 25%;
  }
  .col-l-p-26 {
    width: 26%;
  }
  .col-l-p-27 {
    width: 27%;
  }
  .col-l-p-28 {
    width: 28%;
  }
  .col-l-p-29 {
    width: 29%;
  }
  .col-l-p-30 {
    width: 30%;
  }
  .col-l-p-31 {
    width: 31%;
  }
  .col-l-p-32 {
    width: 32%;
  }
  .col-l-p-33 {
    width: 33%;
  }
  .col-l-p-34 {
    width: 34%;
  }
  .col-l-p-35 {
    width: 35%;
  }
  .col-l-p-36 {
    width: 36%;
  }
  .col-l-p-37 {
    width: 37%;
  }
  .col-l-p-38 {
    width: 38%;
  }
  .col-l-p-39 {
    width: 39%;
  }
  .col-l-p-40 {
    width: 40%;
  }
  .col-l-p-41 {
    width: 41%;
  }
  .col-l-p-42 {
    width: 42%;
  }
  .col-l-p-43 {
    width: 43%;
  }
  .col-l-p-44 {
    width: 44%;
  }
  .col-l-p-45 {
    width: 45%;
  }
  .col-l-p-46 {
    width: 46%;
  }
  .col-l-p-47 {
    width: 47%;
  }
  .col-l-p-48 {
    width: 48%;
  }
  .col-l-p-49 {
    width: 49%;
  }
  .col-l-p-50 {
    width: 50%;
  }
  .col-l-p-51 {
    width: 51%;
  }
  .col-l-p-52 {
    width: 52%;
  }
  .col-l-p-53 {
    width: 53%;
  }
  .col-l-p-54 {
    width: 54%;
  }
  .col-l-p-55 {
    width: 55%;
  }
  .col-l-p-56 {
    width: 56%;
  }
  .col-l-p-57 {
    width: 57%;
  }
  .col-l-p-58 {
    width: 58%;
  }
  .col-l-p-59 {
    width: 59%;
  }
  .col-l-p-60 {
    width: 60%;
  }
  .col-l-p-61 {
    width: 61%;
  }
  .col-l-p-62 {
    width: 62%;
  }
  .col-l-p-63 {
    width: 63%;
  }
  .col-l-p-64 {
    width: 64%;
  }
  .col-l-p-65 {
    width: 65%;
  }
  .col-l-p-66 {
    width: 66%;
  }
  .col-l-p-67 {
    width: 67%;
  }
  .col-l-p-68 {
    width: 68%;
  }
  .col-l-p-69 {
    width: 69%;
  }
  .col-l-p-70 {
    width: 70%;
  }
  .col-l-p-71 {
    width: 71%;
  }
  .col-l-p-72 {
    width: 72%;
  }
  .col-l-p-73 {
    width: 73%;
  }
  .col-l-p-74 {
    width: 74%;
  }
  .col-l-p-75 {
    width: 75%;
  }
  .col-l-p-76 {
    width: 76%;
  }
  .col-l-p-77 {
    width: 77%;
  }
  .col-l-p-78 {
    width: 78%;
  }
  .col-l-p-79 {
    width: 79%;
  }
  .col-l-p-80 {
    width: 80%;
  }
  .col-l-p-81 {
    width: 81%;
  }
  .col-l-p-82 {
    width: 82%;
  }
  .col-l-p-83 {
    width: 83%;
  }
  .col-l-p-84 {
    width: 84%;
  }
  .col-l-p-85 {
    width: 85%;
  }
  .col-l-p-86 {
    width: 86%;
  }
  .col-l-p-87 {
    width: 87%;
  }
  .col-l-p-88 {
    width: 88%;
  }
  .col-l-p-89 {
    width: 89%;
  }
  .col-l-p-90 {
    width: 90%;
  }
  .col-l-p-91 {
    width: 91%;
  }
  .col-l-p-92 {
    width: 92%;
  }
  .col-l-p-93 {
    width: 93%;
  }
  .col-l-p-94 {
    width: 94%;
  }
  .col-l-p-95 {
    width: 95%;
  }
  .col-l-p-96 {
    width: 96%;
  }
  .col-l-p-97 {
    width: 97%;
  }
  .col-l-p-98 {
    width: 98%;
  }
  .col-l-p-99 {
    width: 99%;
  }
  .col-l-p-100 {
    width: 100%;
  }
  .col-l-f-23-24 {
    width: 95.83333333%;
  }
  .col-l-f-21-24 {
    width: 87.5%;
  }
  .col-l-f-19-24 {
    width: 79.16666667%;
  }
  .col-l-f-17-24 {
    width: 70.83333333%;
  }
  .col-l-f-15-24 {
    width: 62.5%;
  }
  .col-l-f-13-24 {
    width: 54.16666667%;
  }
  .col-l-f-11-24 {
    width: 45.83333333%;
  }
  .col-l-f-9-24 {
    width: 37.5%;
  }
  .col-l-f-7-24 {
    width: 29.16666667%;
  }
  .col-l-f-5-24 {
    width: 20.83333333%;
  }
  .col-l-f-11-12 {
    width: 91.66666667%;
  }
  .col-l-f-7-12 {
    width: 58.33333333%;
  }
  .col-l-f-5-12 {
    width: 41.66666667%;
  }
  .col-l-f-7-8 {
    width: 87.5%;
  }
  .col-l-f-5-8 {
    width: 62.5%;
  }
  .col-l-f-3-8 {
    width: 37.5%;
  }
  .col-l-f-5-6 {
    width: 83.33333333%;
  }
  .col-l-f-4-5 {
    width: 80%;
  }
  .col-l-f-3-5 {
    width: 60%;
  }
  .col-l-f-2-5 {
    width: 40%;
  }
  .col-l-f-1-5 {
    width: 20%;
  }
  .col-l-f-3-4 {
    width: 75%;
  }
  .col-l-f-2-3 {
    width: 66.66666667%;
  }
  .col-l-f-1-24 {
    width: 4.16666667%;
  }
  .col-l-f-1-12 {
    width: 8.33333333%;
  }
  .col-l-f-1-6 {
    width: 16.66666667%;
  }
  .col-l-f-1-3 {
    width: 33.33333333%;
  }
  .col-l-f-1-8 {
    width: 12.5%;
  }
  .col-l-f-1-4 {
    width: 25%;
  }
  .col-l-f-1-2 {
    width: 50%;
  }
  .col-l-f-0-1 {
    width: 0;
  }
  .col-l-f-1-1 {
    width: 100%;
  }
  .col-l-r-8 {
    width: 61.80339887%;
  }
  .col-l-r-5 {
    width: 38.19660111%;
  }
  .col-l-r-3 {
    width: 23.60679774%;
  }
  .col-l-r-2 {
    width: 14.58980337%;
  }
  .col-l-r-1 {
    width: 9.01699437%;
  }
  .col-l-r-13 {
    width: 100%;
  }
  .col-l-r-0 {
    width: 0;
  }
}
@media screen and (min-width: 80em) {
  [class*="col-xl-p-"],
  [class*="col-xl-f-"],
  [class*="col-xl-r-"] {
    display: block;
    float: left;
  }
  .col-xl-p-1 {
    width: 1%;
  }
  .col-xl-p-2 {
    width: 2%;
  }
  .col-xl-p-3 {
    width: 3%;
  }
  .col-xl-p-4 {
    width: 4%;
  }
  .col-xl-p-5 {
    width: 5%;
  }
  .col-xl-p-6 {
    width: 6%;
  }
  .col-xl-p-7 {
    width: 7%;
  }
  .col-xl-p-8 {
    width: 8%;
  }
  .col-xl-p-9 {
    width: 9%;
  }
  .col-xl-p-10 {
    width: 10%;
  }
  .col-xl-p-11 {
    width: 11%;
  }
  .col-xl-p-12 {
    width: 12%;
  }
  .col-xl-p-13 {
    width: 13%;
  }
  .col-xl-p-14 {
    width: 14%;
  }
  .col-xl-p-15 {
    width: 15%;
  }
  .col-xl-p-16 {
    width: 16%;
  }
  .col-xl-p-17 {
    width: 17%;
  }
  .col-xl-p-18 {
    width: 18%;
  }
  .col-xl-p-19 {
    width: 19%;
  }
  .col-xl-p-20 {
    width: 20%;
  }
  .col-xl-p-21 {
    width: 21%;
  }
  .col-xl-p-22 {
    width: 22%;
  }
  .col-xl-p-23 {
    width: 23%;
  }
  .col-xl-p-24 {
    width: 24%;
  }
  .col-xl-p-25 {
    width: 25%;
  }
  .col-xl-p-26 {
    width: 26%;
  }
  .col-xl-p-27 {
    width: 27%;
  }
  .col-xl-p-28 {
    width: 28%;
  }
  .col-xl-p-29 {
    width: 29%;
  }
  .col-xl-p-30 {
    width: 30%;
  }
  .col-xl-p-31 {
    width: 31%;
  }
  .col-xl-p-32 {
    width: 32%;
  }
  .col-xl-p-33 {
    width: 33%;
  }
  .col-xl-p-34 {
    width: 34%;
  }
  .col-xl-p-35 {
    width: 35%;
  }
  .col-xl-p-36 {
    width: 36%;
  }
  .col-xl-p-37 {
    width: 37%;
  }
  .col-xl-p-38 {
    width: 38%;
  }
  .col-xl-p-39 {
    width: 39%;
  }
  .col-xl-p-40 {
    width: 40%;
  }
  .col-xl-p-41 {
    width: 41%;
  }
  .col-xl-p-42 {
    width: 42%;
  }
  .col-xl-p-43 {
    width: 43%;
  }
  .col-xl-p-44 {
    width: 44%;
  }
  .col-xl-p-45 {
    width: 45%;
  }
  .col-xl-p-46 {
    width: 46%;
  }
  .col-xl-p-47 {
    width: 47%;
  }
  .col-xl-p-48 {
    width: 48%;
  }
  .col-xl-p-49 {
    width: 49%;
  }
  .col-xl-p-50 {
    width: 50%;
  }
  .col-xl-p-51 {
    width: 51%;
  }
  .col-xl-p-52 {
    width: 52%;
  }
  .col-xl-p-53 {
    width: 53%;
  }
  .col-xl-p-54 {
    width: 54%;
  }
  .col-xl-p-55 {
    width: 55%;
  }
  .col-xl-p-56 {
    width: 56%;
  }
  .col-xl-p-57 {
    width: 57%;
  }
  .col-xl-p-58 {
    width: 58%;
  }
  .col-xl-p-59 {
    width: 59%;
  }
  .col-xl-p-60 {
    width: 60%;
  }
  .col-xl-p-61 {
    width: 61%;
  }
  .col-xl-p-62 {
    width: 62%;
  }
  .col-xl-p-63 {
    width: 63%;
  }
  .col-xl-p-64 {
    width: 64%;
  }
  .col-xl-p-65 {
    width: 65%;
  }
  .col-xl-p-66 {
    width: 66%;
  }
  .col-xl-p-67 {
    width: 67%;
  }
  .col-xl-p-68 {
    width: 68%;
  }
  .col-xl-p-69 {
    width: 69%;
  }
  .col-xl-p-70 {
    width: 70%;
  }
  .col-xl-p-71 {
    width: 71%;
  }
  .col-xl-p-72 {
    width: 72%;
  }
  .col-xl-p-73 {
    width: 73%;
  }
  .col-xl-p-74 {
    width: 74%;
  }
  .col-xl-p-75 {
    width: 75%;
  }
  .col-xl-p-76 {
    width: 76%;
  }
  .col-xl-p-77 {
    width: 77%;
  }
  .col-xl-p-78 {
    width: 78%;
  }
  .col-xl-p-79 {
    width: 79%;
  }
  .col-xl-p-80 {
    width: 80%;
  }
  .col-xl-p-81 {
    width: 81%;
  }
  .col-xl-p-82 {
    width: 82%;
  }
  .col-xl-p-83 {
    width: 83%;
  }
  .col-xl-p-84 {
    width: 84%;
  }
  .col-xl-p-85 {
    width: 85%;
  }
  .col-xl-p-86 {
    width: 86%;
  }
  .col-xl-p-87 {
    width: 87%;
  }
  .col-xl-p-88 {
    width: 88%;
  }
  .col-xl-p-89 {
    width: 89%;
  }
  .col-xl-p-90 {
    width: 90%;
  }
  .col-xl-p-91 {
    width: 91%;
  }
  .col-xl-p-92 {
    width: 92%;
  }
  .col-xl-p-93 {
    width: 93%;
  }
  .col-xl-p-94 {
    width: 94%;
  }
  .col-xl-p-95 {
    width: 95%;
  }
  .col-xl-p-96 {
    width: 96%;
  }
  .col-xl-p-97 {
    width: 97%;
  }
  .col-xl-p-98 {
    width: 98%;
  }
  .col-xl-p-99 {
    width: 99%;
  }
  .col-xl-p-100 {
    width: 100%;
  }
  .col-xl-f-23-24 {
    width: 95.83333333%;
  }
  .col-xl-f-21-24 {
    width: 87.5%;
  }
  .col-xl-f-19-24 {
    width: 79.16666667%;
  }
  .col-xl-f-17-24 {
    width: 70.83333333%;
  }
  .col-xl-f-15-24 {
    width: 62.5%;
  }
  .col-xl-f-13-24 {
    width: 54.16666667%;
  }
  .col-xl-f-11-24 {
    width: 45.83333333%;
  }
  .col-xl-f-9-24 {
    width: 37.5%;
  }
  .col-xl-f-7-24 {
    width: 29.16666667%;
  }
  .col-xl-f-5-24 {
    width: 20.83333333%;
  }
  .col-xl-f-11-12 {
    width: 91.66666667%;
  }
  .col-xl-f-7-12 {
    width: 58.33333333%;
  }
  .col-xl-f-5-12 {
    width: 41.66666667%;
  }
  .col-xl-f-7-8 {
    width: 87.5%;
  }
  .col-xl-f-5-8 {
    width: 62.5%;
  }
  .col-xl-f-3-8 {
    width: 37.5%;
  }
  .col-xl-f-5-6 {
    width: 83.33333333%;
  }
  .col-xl-f-4-5 {
    width: 80%;
  }
  .col-xl-f-3-5 {
    width: 60%;
  }
  .col-xl-f-2-5 {
    width: 40%;
  }
  .col-xl-f-1-5 {
    width: 20%;
  }
  .col-xl-f-3-4 {
    width: 75%;
  }
  .col-xl-f-2-3 {
    width: 66.66666667%;
  }
  .col-xl-f-1-24 {
    width: 4.16666667%;
  }
  .col-xl-f-1-12 {
    width: 8.33333333%;
  }
  .col-xl-f-1-6 {
    width: 16.66666667%;
  }
  .col-xl-f-1-3 {
    width: 33.33333333%;
  }
  .col-xl-f-1-8 {
    width: 12.5%;
  }
  .col-xl-f-1-4 {
    width: 25%;
  }
  .col-xl-f-1-2 {
    width: 50%;
  }
  .col-xl-f-0-1 {
    width: 0;
  }
  .col-xl-f-1-1 {
    width: 100%;
  }
  .col-xl-r-8 {
    width: 61.80339887%;
  }
  .col-xl-r-5 {
    width: 38.19660111%;
  }
  .col-xl-r-3 {
    width: 23.60679774%;
  }
  .col-xl-r-2 {
    width: 14.58980337%;
  }
  .col-xl-r-1 {
    width: 9.01699437%;
  }
  .col-xl-r-13 {
    width: 100%;
  }
  .col-xl-r-0 {
    width: 0;
  }
}
fieldset {
  width: 100%;
}
.form-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-shadow: inset 0 1px 3px #dbdcdd;
  -moz-box-shadow: inset 0 1px 3px #dbdcdd;
  box-shadow: inset 0 1px 3px #dbdcdd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em 0.6em;
  border: 1px solid #b7bbbd;
}
input:not([type]) {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-shadow: inset 0 1px 3px #dbdcdd;
  -moz-box-shadow: inset 0 1px 3px #dbdcdd;
  box-shadow: inset 0 1px 3px #dbdcdd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em 0.6em;
  border: 1px solid #b7bbbd;
}
input[type="color"] {
  padding: 0.2em 0.5em;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #157ee3;
}
input:not([type]):focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #157ee3;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0.5em 0;
  display: block;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #515558;
  outline: 1px auto #157ee3;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #dbdcdd;
  color: #b7bbbd;
}
input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #dbdcdd;
  color: #b7bbbd;
}
input[readonly],
select[readonly],
textarea[readonly] {
  background: #f5f6f6;
  color: #82888c;
  border-color: #b7bbbd;
}
.invalid,
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #ec1c24;
  background-color: #fde4e5;
}
.invalid:focus,
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus,
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  border-color: #dc121a;
}
select {
  border: 1px solid #515558;
  background-color: #ffffff;
}
select[multiple] {
  height: auto;
}
label {
  margin: 0.5em 0 0.2em;
}
fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: none;
}
legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #b7bbbd;
  border-bottom: 1px solid #dbdcdd;
}
.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.form-aligned {

}
.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned-message-inline {
  display: inline-block;
  vertical-align: middle;
}
.form-aligned textarea {
  vertical-align: top;
}
.form-aligned .control-group {
  margin-bottom: 0.5em;
}
.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.form-aligned .controls {
  margin: 1.5em 0 0 10em;
}
input.input-rounded,
.input-rounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.5em 1em;
}
.form-group + * {
  margin-top: 0.75em;
}
.form-group fieldset {
  margin-bottom: 10px;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="url"],
.form-group input[type="date"],
.form-group input[type="month"],
.form-group input[type="time"],
.form-group input[type="datetime"],
.form-group input[type="datetime-local"],
.form-group input[type="week"],
.form-group input[type="number"],
.form-group input[type="search"],
.form-group input[type="tel"],
.form-group input[type="color"],
.form-group select,
.form-group textarea {
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  margin: 0;
  top: -1px;
}
.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="url"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="month"]:focus,
.form-group input[type="time"]:focus,
.form-group input[type="datetime"]:focus,
.form-group input[type="datetime-local"]:focus,
.form-group input[type="week"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="search"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="color"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  z-index: 2;
}
.form-group input[type="text"]:first-child,
.form-group input[type="password"]:first-child,
.form-group input[type="email"]:first-child,
.form-group input[type="url"]:first-child,
.form-group input[type="date"]:first-child,
.form-group input[type="month"]:first-child,
.form-group input[type="time"]:first-child,
.form-group input[type="datetime"]:first-child,
.form-group input[type="datetime-local"]:first-child,
.form-group input[type="week"]:first-child,
.form-group input[type="number"]:first-child,
.form-group input[type="search"]:first-child,
.form-group input[type="tel"]:first-child,
.form-group input[type="color"]:first-child,
.form-group select:first-child,
.form-group textarea:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: 1px;
}
.form-group input[type="text"]:last-child,
.form-group input[type="password"]:last-child,
.form-group input[type="email"]:last-child,
.form-group input[type="url"]:last-child,
.form-group input[type="date"]:last-child,
.form-group input[type="month"]:last-child,
.form-group input[type="time"]:last-child,
.form-group input[type="datetime"]:last-child,
.form-group input[type="datetime-local"]:last-child,
.form-group input[type="week"]:last-child,
.form-group input[type="number"]:last-child,
.form-group input[type="search"]:last-child,
.form-group input[type="tel"]:last-child,
.form-group input[type="color"]:last-child,
.form-group select:last-child,
.form-group textarea:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  top: -2px;
}
.form-group button {
  margin: 0.35em 0;
}
.form-message-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.3em;
  color: #72787c;
  font-size: 0.875em;
}
.form-message {
  display: block;
  color: #72787c;
  font-size: 0.875em;
}
@media only screen and (max-width: 35.438em) {
  button[type="submit"] {
    margin: 0.7em 0 0;
  }
  input:not([type]),
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  label {
    display: block;
    margin-bottom: 0.3em;
  }
  .form-group input:not([type]),
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"],
  .form-group input[type="url"],
  .form-group input[type="date"],
  .form-group input[type="month"],
  .form-group input[type="time"],
  .form-group input[type="datetime"],
  .form-group input[type="datetime-local"],
  .form-group input[type="week"],
  .form-group input[type="number"],
  .form-group input[type="search"],
  .form-group input[type="tel"],
  .form-group input[type="color"] {
    margin-bottom: 0;
  }
  .form-aligned .control-group label {
    text-align: left;
    display: block;
    margin-bottom: 0.3em;
    width: 100%;
  }
  .form-aligned .controls {
    margin: 1.5em 0 0 0;
  }
  .form-message-inline,
  .form-message {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
.tact-button-group {
  display: block;
  text-align: right;
}
button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  color: #515558;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #93989b;
  border: none rgba(0, 0, 0, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
  line-height: normal;
  font-size: 100%;
  padding: 0.5em 1em;
  background-color: #dbdcdd;
  text-decoration: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button .tact-button-hover,
button:hover,
button:focus {
  background-color: #cdd0d1;
}
button:focus {
  outline: 0;
}
button .tact-button-active,
button:active {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button[disabled],
button .tact-button-disabled,
button .tact-button-disabled:hover,
button .tact-button-disabled:focus,
button .tact-button-disabled:active {
  -khtml-opacity: 0.2;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=20);
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background-image: none;
}
button[hidden],
button .tact-button-hidden {
  display: none !important;
}
button[type="submit"],
button .tact-button-primary,
button a.tact-button-primary {
  background-color: #157ee3;
  color: #ffffff;
}
button[type="submit"]:hover,
button[type="submit"]:focus,
button.tact-button-primary-hover,
button.tact-button-primary:hover,
button.tact-button-primary:focus {
  background-color: #1371cb;
}
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #b7bbbd;
}
caption {
  text-align: center;
  color: #000000;
  padding: 1em 0;
}
table td,
table th {
  border-left: 1px solid #b7bbbd;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
table td:first-child,
table th:first-child {
  border-left-width: 0;
}
table thead {
  vertical-align: bottom;
  background: #dbdcdd;
  color: #000000;
  text-align: inherit;
}
table td {
  background-color: transparent;
}
table.table-odd td {
  background-color: #f5f6f6;
}
table.table-striped tr:nth-child(2n) td {
  background-color: #f5f6f6;
}
table.table-bordered td {
  border-bottom: 1px solid #b7bbbd;
}
.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
.table-horizontal table td,
.table-horizontal table th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #b7bbbd;
}
.table-horizontal table tbody > tr:last-child td {
  border-bottom-width: 0;
}
.menu:before,
.menu-horizontal:before,
.menu-right:before {
  display: table;
  content: ' ';
}
.menu:after,
.menu-horizontal:after,
.menu-right:after {
  display: table;
  content: ' ';
  clear: both;
}
.menu .brand {
  display: block;
  padding: 10px 20px;
  color: #515558;
  text-transform: uppercase;
}
.menu .brand:hover {
  text-decoration: none;
  color: #515558;
}
.menu.menu-horizontal > * {
  float: left;
}
.menu-list {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.menu-list,
.menu-list li {
  list-style: none;
  white-space: nowrap;
  display: block;
  z-index: 2;
}
.menu-list a {
  display: block;
  padding: 10px 20px;
  color: #515558;
}
.menu.menu-horizontal.menu-right > .menu-list {
  float: right;
}
.menu.menu-horizontal > .menu-list > li {
  float: left;
}
.menu .menu-sub {
  background-color: inherit;
  color: inherit;
}
.menu .menu-sub > a {
  padding-right: 30px;
}
.menu .menu-sub > a:after {
  display: block;
  float: right;
  content: '\25B8';
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
  margin: -1px -20px 0 0;
}
.menu.menu-horizontal .menu-sub > a:after {
  content: '\25BE';
}
.menu.menu-horizontal .menu-sub .menu-sub > a:after {
  content: '\25B8';
}
.menu .menu-sub .menu-list {
  min-width: 100%;
}
.menu .menu-sub .menu-sub .menu-list {
  min-width: 0;
}
.menu .menu-sub > .menu-list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid #000000;
  border: 0 solid rgba(0, 0, 0, 0);
  top: 0;
  left: 100%;
}
.menu .menu-sub.menu-sub-open > .menu-list {
  visibility: visible;
  opacity: 1;
}
.menu .menu-list a:hover,
.menu .menu-sub.menu-sub-open > a {
  background-color: #dbdcdd;
  color: #515558;
  text-decoration: none;
}
.menu.menu-horizontal > .menu-list > .menu-sub > a + .menu-list {
  top: 100%;
  left: 0;
}
.menu.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.menu.menu-fixed.menu-horizontal {
  bottom: auto;
}
